<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers><add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" /></handlers>
      <aspNetCore processPath="dotnet" arguments=".\JobForFresher.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
      <security><requestFiltering><hiddenSegments>
        <add segment="resumes" /><remove segment="App_Data" /><add segment="App_Data" /><add segment=".upgrade-backup" /><add segment=".mobile-check" />
      </hiddenSegments></requestFiltering></security>
    </system.webServer>
  </location>
</configuration>